{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
    {% if error %}
        <p class="error" id="error-message">{{ error }}</p>
    {% endif %}

    <script>
        window.onload = function() {
            setTimeout(function() {
                var errorMessage = document.getElementById('error-message');
                if (errorMessage) {
                    errorMessage.style.display = 'none';
                }
            }, 3000);
        };
    </script>
    <div class="login">
        <form action="/login" method="POST">
            <h1>Login</h1>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}